<div class="container h-100 frmCategoria">
  <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                  <h3 class="mb-5 fw-bold">AGREGAR CATEGORIA</h3>
                  <hr>
                  <form [formGroup]="frmCategoria" (ngSubmit)="agregarCategoria(frmCategoria.value)" method="post" class="was-validated">
                      <div class="form-floating mb-4">
                          <input type="text" name="txtNombre" id="txtNombre" formControlName="txtNombre" class="form-control" required
                              placeholder="Ingrese el nombre de la categoria" style="border-radius: 27px;">
                          <label for="txtNombre">Ingrese el nombre de la categoria</label>
                      </div>
                      <hr>
                      <div class="mt-5">
                          <button class="btn btn-success rounded-pill mb-2 fw-bold" style="letter-spacing: 2px;">AGREGAR</button>
                      </div>
                  </form>
              </div>
              <!-- <div class="mb-5 text-center fw-bold">{{mensaje}}</div> -->
          </div>
      </div>
  </div>
</div>
